.vs/
src/Behavioral/DesignPattern.Behavioral.ChainOfResponsibility/obj/
src/Behavioral/DesignPattern.Behavioral.Command/obj/
src/Behavioral/DesignPattern.Behavioral.Iterator/obj/
src/Behavioral/DesignPattern.Behavioral.Mediator/obj/
src/Behavioral/DesignPattern.Behavioral.Memento/obj/
src/Behavioral/DesignPattern.Behavioral.Observer/obj/
src/Behavioral/DesignPattern.Behavioral.State/obj/
src/Behavioral/DesignPattern.Behavioral.Strategy/obj/
src/Behavioral/DesignPattern.Behavioral.TemplateMethod/obj/
src/Behavioral/DesignPattern.Behavioral.Visitor/obj/
src/Behavioral/DesignPattern.Behavioral.ChainOfResponsibility/bin/
src/Behavioral/DesignPattern.Behavioral.Command/bin/
src/Behavioral/DesignPattern.Behavioral.Iterator/bin/
src/Behavioral/DesignPattern.Behavioral.Mediator/bin/
src/Behavioral/DesignPattern.Behavioral.Memento/bin/
src/Behavioral/DesignPattern.Behavioral.Observer/bin/
src/Behavioral/DesignPattern.Behavioral.State/bin/
src/Behavioral/DesignPattern.Behavioral.Strategy/bin/
src/Behavioral/DesignPattern.Behavioral.TemplateMethod/bin/
src/Behavioral/DesignPattern.Behavioral.Visitor/bin/
src/Creational/DesignPattern.Creational.AbstractFactory/obj/
src/Creational/DesignPattern.Creational.Builder/obj/
src/Creational/DesignPattern.Creational.FactoryMethod/obj/
src/Creational/DesignPattern.Creational.Prototype/obj/
src/Creational/DesignPattern.Creational.Singleton/obj/
src/Creational/DesignPattern.Creational.AbstractFactory/bin/
src/Creational/DesignPattern.Creational.Builder/bin/
src/Creational/DesignPattern.Creational.FactoryMethod/bin/
src/Creational/DesignPattern.Creational.Prototype/bin/
src/Creational/DesignPattern.Creational.Singleton/bin/
src/Structural/DesignPattern.Structural.Adapter/bin/
src/Structural/DesignPattern.Structural.Adapter/obj/
src/Structural/DesignPattern.Structural.Bridge/bin/
src/Structural/DesignPattern.Structural.Bridge/obj/
src/Structural/DesignPattern.Structural.Composite/bin/
src/Structural/DesignPattern.Structural.Composite/obj/
src/Structural/DesignPattern.Structural.Decorator/bin/
src/Structural/DesignPattern.Structural.Decorator/obj/
src/Structural/DesignPattern.Structural.Facade/bin/
src/Structural/DesignPattern.Structural.Facade/obj/
src/Structural/DesignPattern.Structural.Flyweight/bin/
src/Structural/DesignPattern.Structural.Flyweight/obj/
src/Structural/DesignPattern.Structural.Proxy/bin/
src/Structural/DesignPattern.Structural.Proxy/obj/
